        <div class="container footer-container">
            <div class="text-center center-block footer-block">
                <br />
                <p class="footer-text dark-green">Follow us on social media and subscribe to our newsletter!</p>
                <a href="https://www.facebook.com/uclawatt/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://www.instagram.com/uclawatt/?hl=en"><i id="social-in" class="fa fa-instagram fa-3x social"></i></a>
                <a href="http://eepurl.com/b0lwSv"><i id="social-nl" class="fas fa-envelope fa-3x social"></i></a>
            </div>
        </div>

        <!--  EVENTS HANDLEBARS SCRIPT -->
        <script id="events-template" type="text/x-handlebars-template">
            \{{#each events}}
            <div class="row home-row">
                <div class="col xs-3 sm-3 md-2 home-date">
                    \{{this.date}}
                </div>
                <div class="col xs-21 sm-21 md-22">
                    <p class="home-event-name"> <a href="\{{this.eventUrl}}"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>  \{{this.name}} | \{{this.location}} | \{{this.time}}</p>
                    <p>\{{{this.description}}}</p>
                </div>
            </div>
            \{{/each}}
        </script>
        <!--  OFFICERS HANDLEBARS SCRIPT -->
        <script id="officers-template" type="text/x-handlebars-template">
            \{{#each officers}}
            <div class="col sm-12 md-8 lg-8 person-wrapper">
                <div class="person-card">
                    <img class="profile-picture" src="\{{this.imgUrl}}">
                    <h4>\{{this.name}}</h4>
                    <h5>\{{this.role}}</h5>
                    <p>\{{this.bio}}</p>
                </div>
            </div>
            \{{/each}}
        </script>
        <!-- GALLERY HANDLEBARS SCRIPT -->
        <script id="gallery-template" type="text/x-handlebars-template">
            \{{#each gallery}}
            <button type="button" class="event-cover-button" data-toggle="modal" data-target="#modal1">
                <img src="\{{this.coverImg}}" class="event-cover-image"></img>
            </button>

            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe src="\{{this.albumUrl}}"
                                frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">\{{this.eventName}}</span>
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            \{{/each}}
        </script>

        <!--  SPONSORS HANDLEBARS SCRIPT -->
        <script id="sponsors-template" type="text/x-handlebars-template">
            \{{#each sponsors}}
            <img src="img/sponsors/qualcomm.png" alt="Qualcomm Logo" class="sponsor-img" width="400" />
            \{{/each}}
        </script>
        <!--  PROJECTS HANDLEBARS SCRIPT -->
        <script id="projects-template" type="text/x-handlebars-template">
            \{{#each projects}}
            <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap project-wrap">
                    <img src="\{{this.imgUrl}}" alt="Audio Workshop Gallery" class="project-img">
                </div>
                <div class="project-title">
                    <p class="project-name">\{{this.name}}</p>
                </div>
                <p class="project-date">\{{this.date}}</p>
                <a href="\{{this.eventUrl}}"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <p class="fam-card-description"></p>
            </div>
            \{{/each}}
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script type='text/javascript' src='js/handlebars-v4.0.11.js'></script>
        <script type='text/javascript' src='js/main.js'></script>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    </body>

</html>
