        <div class="container footer-container">
            <div class="text-center center-block footer-block">
                <br />
                <p class="footer-text">Subscribe to our newsletter and follow us on social media!</p>
                <a href="http://facebook.us13.list-manage.com/subscribe?u=a6bd9370a45ed22657eb7af16&id=d96251281c"><i id="social-nl" class="fa fa-rss-square fa-3x social"></i></a>
                <a href="https://www.facebook.com/uclawatt/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://www.flickr.com/photos/143450762@N06/"><i id="social-fl" class="fa fa-flickr fa-3x social"></i></a>
                <a href="mailto:wie.ieee.@gmail.com"><i id="social-em" class="fa fa-envelope fa-3x social"></i></a>
            </div>
        </div>

        <!--  EVENTS HANDLEBARS SCRIPT -->
        <script id="events-template" type="text/x-handlebars-template">
            \{{#each events}}
            <div class="row home-row">
                <div class="col xs-3 sm-3 md-2 home-date">
                    \{{this.date}}
                </div>
                <div class="col xs-21 sm-21 md-22">
                    <p class="home-event-name"> <a href="\{{this.eventUrl}}"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>  \{{this.name}} | \{{this.location}} | \{{this.time}}</p>
                    <p>\{{{this.description}}}</p>
                </div>
            </div>
            \{{/each}}
        </script>
        <!--  OFFICERS HANDLEBARS SCRIPT -->
        <script id="officers-template" type="text/x-handlebars-template">
            \{{#each officers}}
            <div class="col sm-12 md-8 lg-8 person-wrapper">
                <div class="person-card">
                    <img class="profile-picture" src="\{{this.imgUrl}}">
                    <h4>\{{this.name}}</h4>
                    <h5>\{{this.role}}</h5>
                    <!--<a href="\{{this.email}}"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>-->
                    <p>\{{this.bio}}</p>
                </div>
            </div>
            \{{/each}}
        </script>
           <!--  SPONSORS HANDLEBARS SCRIPT -->
        <script id="sponsors-template" type="text/x-handlebars-template">
            \{{#each sponsors}}
            <img src="img/sponsors/qualcomm.png" alt="Qualcomm Logo" class="sponsor-img" width="400" />
            \{{/each}}
        </script>
        <!--  PROJECTS HANDLEBARS SCRIPT -->
        <script id="projects-template" type="text/x-handlebars-template">
            \{{#each projects}}
            <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap project-wrap">
                    <img src="\{{this.imgUrl}}" alt="Audio Workshop Gallery" class="project-img">
                </div>
                <div class="project-title">
                    <p class="project-name">\{{this.name}}</p>
                </div>
                <p class="project-date">\{{this.date}}</p>
                <a href="\{{this.eventUrl}}"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <p class="fam-card-description"></p>
            </div>
            \{{/each}}
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script type='text/javascript' src='js/handlebars-v4.0.11.js'></script>
        <script type='text/javascript' src='js/main.js'></script>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    </body>

</html>
