<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Handlebars JS - Grid Template</title>
        <link rel="stylesheet" href="../css/temp.css" />
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
        <script type="text/javascript" src="../js/sorter.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
    </head>
    <body>
        <script id="table-template" type="text/x-handlebars-template">
            <table>
                <thead>
                    {{#each headers}}
                        <th>{{this}}</th>
                    {{/each}}
                </thead>
                <tbody>
                    {{#records}}
                    <tr>
                        <td>{{fullName name}}</td>
                        <td>{{occupation}}</td>
                        <td><a href="https://twitter.com/{{twitter}}">@{{twitter}}</a></td>
                    </tr>
                    {{/records}}
                </tbody>
            </table>
        </script>
    </body>
</html>
