{{> header}}

<div class="page-body">
    <div class="page-cover-photo team-photo">
        <div class="page-heading">Meet the Team</div>
    </div>
    <div class="page-wrapper">
        <div class="page-content">
            <div class="card-title">2017-2018 Board Members</div>
            <section class="section">
                <div class="section-container">
                    <div class="container team-container column">
                        <div class="container team-container constrained">
                            <div class="grid align-start">
                                <div id="officers-mount"></div>
                                <!-- <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/allison.jpg">
                                        <h4>Allison Doami</h4>
                                        <h5>External Co-President</h5>
                                        <a href="mailto:externalpresident@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Allison is a third year Electrical Engineering major. She is an avid frisbee, tennis, and soccer player who also loves to play the violin, piano, and ukulele in her spare time. Catch her making weird faces as she's doing her homework or eating Ike's in Westwood when she gets sick of campus food.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/tanvi.jpg">
                                        <h4>Tanvi Rane</h4>
                                        <h5>Internal Co-President</h5>
                                        <a href="mailto:internalpresident@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Tanvi is a fourth year Electrical Engineering major. She loves math, food, memes, dance, and her friends. As a chronic over-commiter, she has held many leadership positions in her time at UCLA, so for the sake of her sanity, she is slowly learning to say "no" and prioritize her committments.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/katrina.jpg">
                                        <h4>Katrina Wijaya</h4>
                                        <h5>Secretary</h5>
                                        <a href="mailto:secretary@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Katrina is a third year Computer Science major. You can usually find her navigating through Boelter with Google Maps. She’s currently either thinking about food, eating food, or planning what food she’ll eat next. Alongside her passion for food, Katrina develops her (lacking) artistic skills through origami, nail art, and Pictionary.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/siranush.jpg">
                                        <h4>Siranush Martirosyan</h4>
                                        <h5>Treasurer</h5>
                                        <a href="mailto:treasurer@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Siranush is a second year Electrical Engineer interested in solar energy and electric vehicles. She loves to roller-skate, hike, latin dance, cook, travel, get inspired from nature and learn different languages. </p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/meena.jpg">
                                        <h4>Meena Nagappan</h4>
                                        <h5>Mentorship Chair</h5>
                                        <a href="mailto:mentorship@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Meena is a second year Electrical Engineering major. She loves chocolate, watching movies, and traveling. She would love to learn more languages so she can watch more movies.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/ale.jpg">
                                        <h4>Alejandra Uribe</h4>
                                        <h5>Social Chair</h5>
                                        <a href="mailto:social@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Alejandra is a second year Mathematics of Computation major. During her free time she enjoys playing the ukulele, watching Game of Thrones, and teaching people math.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/catherine.jpg">
                                        <h4>Catherine Cheng</h4>
                                        <h5>Advocacy and Wellness Chair</h5>
                                        <a href="mailto:advocacywellness@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Catherine is an EE senior at UCLA, engineering to help LGBTQ, mental health patients, and sexual assault survivors. She made an iOS self-care app, Mood Buddy, to help people with their emotional well being.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/jennifer.jpg">
                                        <h4>Jennifer Seki</h4>
                                        <h5>Events Coordinator</h5>
                                        <a href="mailto:advocacywellness@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Second year Electrical Engineering major. Loves soccer, traveling, and food. Yearns to travel and eat more, but devastated by the cost.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/tanzeela.jpg">
                                        <h4>Tanzeela Khan</h4>
                                        <h5>Webmaster</h5>
                                        <a href="mailto:webmaster@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Tanzeela is a third year Computer Science and Engineering major. She loves hiking, singing terribly, watching musicals, and dj-ing. She's currently planning her escape.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/maurene.jpg">
                                        <h4>Maurene Jiang</h4>
                                        <h5>Corporate Relations</h5>
                                        <a href="mailto:coporate@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Third year Computer Science major with an unhealthy Salt & Straw obsession and slightly annoying love for cacti</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/melissa.jpg">
                                        <h4>Melissa Cox</h4>
                                        <h5>Publicity Chair</h5>
                                        <a href="mailto:publicity@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Melissa is a second year Computer Science major. She loves art, karaoke, and videogames. She does not like pollution, the quarter system, and comic sans. She hopes to travel to new destinations, especially natural wonders.</p>
                                    </div>
                                </div>
                                <div class="col sm-12 md-8">
                                    <div class="person-card">
                                        <img class="profile-picture" src="img/boardmembers/rubia.jpg">
                                        <h4>Rubia Liu</h4>
                                        <h5>Workshops Chair</h5>
                                        <a href="mailto:workshops@ieeewatt.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                                        <p>Rubia is a second year Computer Science major slowly sneaking into the Electrical Engineering major. She likes to daydream unfinished stories, coat her room with origami stars and cranes, and dismantle bigotry with passive aggression.<p>
                                    </div>
                                </div>
                            </div> -->
                            
                        </div>
                </div>
            </section>
        </div>
    </div>

</div>

<!--  OFFICERS HANDLEBARS SCRIPT -->
<script id="officers-template" type="text/x-handlebars-template">
        \{{#each officers}}
        <div class="col sm-12 md-8 lg-8 person-wrapper">
            <div class="person-card">
                <img class="profile-picture" src="\{{this.imgUrl}}">
                <h4>\{{this.name}}</h4>
                <h5>\{{this.role}}</h5>
                <a href="\{{this.email}}"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
                <p>\{{this.bio}}</p>
            </div>
        </div>
        \{{/each}}
</script>
{{> footer}}
